---
layout: default
title: Wons Liu - Blog
category: blog
---

<link rel="stylesheet" href="css/style.css">
<div class="subheader-container">
<div class = "inner">
<nav class = "sub-nav">
    <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Time Line</a>
    <a class="{% if page.category == 'categories' %} selected {% endif %}" href="/blog/categories.html">Category</a>
</nav>
</div>
</div>
<section class="inner">
  <ul class="posts">
    {% for post in site.posts %}
	  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
	  {% if year != y %}
		{% assign year = y %}
		<span class="listing-seperator">{{ y }}</span>
	  {% endif %}
    <a  id = "uniqueid" class="listing-item" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}<time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time></a>
    {% endfor %}
  </ul>
</section>
